@font-face {
  font-family: 'Quicksand';
  src: url('../font/quicksand-regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../font/quicksand-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: 400;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../font/quicksand-light.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../font/quicksand-light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: 300;
}
