.caption {
  line-height: .8;
  margin-top: .8rem;
}

.druktemeter svg {
  height: 13rem;
}

.bubble {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.bubbles {
  position: relative;

  svg {
    width: auto;
  }
}

.bubbles-toplijst {
  position: absolute;
  top: 0;
  right: 9rem;
}


g.node {
  transition: .25s all ease-in-out;

  circle {
    transition: .25s all ease-in-out;
  }

  circle:before {
    content: 'ssdf';
    width: 100%;
    height: 100%;
  }

  text {
    font: 1rem $body-font-family;
  }

  &:hover {
    text {
      animation: rotate-me 3s ease 1 alternate forwards;
    }

    circle {
      fill: $primary-color!important;
    }
  }
}

@keyframes rotate-me {
  0% { font-size: 1rem; transform: translate(0); }
  100% { font-size: 1.4rem; transform: translate(100px, 100px); }
}
