@charset "UTF-8";

@font-face {
  font-family: 'Quicksand';
  src: url('../font/quicksand-regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../font/quicksand-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: 400;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../font/quicksand-light.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../font/quicksand-light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: 300;
}


@import "normalize";
@import "settings";

@import
  "foundation/components/grid",
  "foundation/components/buttons",
  "foundation/components/clearing",
  "foundation/components/forms",
  "foundation/components/panels",
  "foundation/components/type",
  "foundation/components/reveal",
  "foundation/components/tables",
  "foundation/components/alert-boxes",
  "foundation/components/visibility";


::selection {
  background: $primary-color;
}

/* Blergh onderstaande CSS handelt af met IE8- gebruikers */
.slechtebrowser {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  z-index: 1000;
  background: red;
  color: #fff;
  padding: 20px;

  a {
    color: #fff;
    text-decoration: underline;
  }
}

/* Typografie */
h2 {
  text-transform: uppercase;
  color: darken($primary-color, 30%);
  font-size: 1.38rem;
}

h3 {
  font-size: 2.5em;
  font-weight: 300;
  color: $body-font-color;
  margin-bottom: 1.1875rem;
}

h4 {
  font-size: 1.18em;
  color: $body-font-color;
}

b, strong {
  font-weight: normal;
}

.undercover-link {
  color: $body-font-color;

  &:hover {
    color: $primary-color;
  }
}

/* Echte stijlen */
.header {
  text-align: center;
  position: relative;
  margin-top: 1.19em;

  .logo {
    background: url('../img/logo.png') no-repeat center;
    background-size: contain;
    text-indent: -999em;
    height: 6.3rem;
  }

  .logo a {
    width: 100%;
    height: 100%;
    display: block;
  }

  h2 {
    line-height: 1;
    margin-top: 1rem;
  }

  hr {
    width: 100%;
    height: 2px;
    background: $secondary-color;
    border: none;
    border-bottom: 1px solid #fff;
  }
}

.intro {
  display: block;
}

.alles-zien, .controls, .klas-week-info {
  display: none;
}

/* Deze class wordt actief als er een rooster staat */
.rooster-actief {
  .intro, .header h2, .header hr {
    display: none;
  }

  .klas-week-info {
    display: block;
  }

  @media #{$medium-up} {
    .controls {
      display: block;
    }
  }

  .header {
    .logo {
      height: 2.5rem;
    }
  }
}

@media #{$small-only} {
  .rooster-actief {
    .alles-zien {
      display: block;
    }
  }
}

.button {
  border-radius: $global-radius;
  border: 1px solid $input-border-color;
  background: #f3f3f3;
  color: $body-font-color;

  &:hover {
    .pijl {
      color: #fff;
    }
  }
}

input[type=text] {
  border-radius: $global-radius;
  border: 1px solid $input-border-color;
}

.button-fullwidth {
  width: 100%;
}

@media #{$medium-up} {
  .volgende-week {
    float: right;
  }

  .text-center-large {
    text-align: center;
  }
}

.pijl {
  color: $primary-color;
  font-weight: 300;
}

.panel {
  border-radius: $global-radius;
}

.hide {
  display: none;
}

.bier-box {
  background: transparent;
  border-color: #CBD8A2;
  color: $body-font-color;
  font-weight: bold;
  font-size: 1.4rem;
  padding-top: 1.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
}

.bier-box:after {
  content: "";
  background: url('../img/grolsch.jpg') repeat-x center center;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* Het rooster zelf */
.dag {
  background: lighten($body-bg, 1%);
  border: 1px solid $input-border-color;
  border-radius: 7px;
  margin-bottom: 1em;
  overflow: hidden;

  .naam {
    border-bottom: 1px solid $input-border-color;
    padding-left: 0.75rem;

    h4 {
      margin-bottom: 0;
      display: inline;
    }

    .datum {
      font-weight: 300;
      font-size: .7em;
    }
  }

  hr {
    margin: 0;
  }

  &.huidige-dag {
    h4 {
      color: $primary-color;
    }
  }
}

.uur {
  padding: 1.25rem .75rem;
  overflow: hidden;
  min-height: 5.5rem;
  color: $uur-color;

  a {
    color: $uur-color;

    &:hover {
      color: $secondary-color;
    }
  }
}

.uur-bezig b {
  color: $primary-color;
}

.uur-nummer {
  float: right;
  color: $uur-color;
}

.uur-leeg {
  background: #fff;

  .uur-nummer {
    color: $secondary-color;
  }

  @media #{$small-only} {
    display: none;

    & + hr {
      display: none;
    }
  }
}

footer {
  margin-top: 2em;
}

/* Popup */
.buttons-fixed {
  display: none;
}

@media #{$medium-up} {
  .buttons-fixed {
    position: fixed;
    right: 0;
    top: 1.21rem;
    display: block;
  }

  .button-fixed {
    border: 1px solid $input-border-color;
    background: #f3f3f3;
    display: block;
    padding: .5rem;
    border-top-left-radius: $global-radius;
    border-bottom-left-radius: $global-radius;
    margin-bottom: 1.21rem;
  }
}

.cheats {
  @media #{$large-up} {
    column-count: 3;
    column-gap: 1.25rem;
  }

  a {
    color: $body-font-color;

    &:hover {
      color: $primary-color;
    }
  }
}

.popup-achtergrond {
  background: none repeat scroll 0% 0% rgba(224, 224, 224, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  z-index: 100;

  .sluit-popup {
    position: fixed;
    top: .5rem;
    right: 1.2rem;
    font-size: 3rem;
    z-index: 101;
  }
}

/* Loading */
.pace .pace-progress {
  background: $primary-color;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}

