body {
  color: $body-font-color;
  font-family: $body-font-family;
  font-weight: $body-font-weight;

  // Sticky footer
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

ng-view {
  transition: 100ms 0 all ease;
  display: block;
  opacity: 1;
  flex: 1;

  &.ng-enter,
  &.ng-leave {
    opacity: 0;
  }
}
