.top-nav {
  display: flex;
  flex-flow: row wrap;
  background: #222;
  padding: 0;
  width: 100%;
  top: 0;
  z-index: $z-top-nav;

  @include bp(break-top-nav) {
    position: fixed;
  }
}

.logo {
  font-size: 2em;
  font-weight: normal;
  margin: 0;

  a {
    display: block;
    color: $nav-main-color;
    padding: 0 .2em 0 .1em;

    @include bp(break-top-nav) {
      padding: .2em .7em 0;
    }

    &:hover {
      background: $nav-hover-bg;
    }
  }

}

.nav-list {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;

  a {
    padding: 1em .4em;

    @include bp(break-top-nav) {
      padding-left: .7em;
      padding-right: .7em;
    }

    display: block;
    color: $nav-color;

    &:hover {
      color: $nav-main-color;
    }

  }

  .main a {
    color: $nav-main-color;

    @include bp(break-top-nav) {
      border-left: 1px solid $nav-border-color;
      border-right: 1px solid $nav-border-color;

      &:hover {
        background: $nav-hover-bg;
        border-color: $nav-hover-border;
      }
    }

  }
}

.nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-timetable-name {
  margin: 0;
  color: $nav-main-color;
  font-size: 1.3em;
  font-weight: normal;
}

.nav-search {
  position: relative;
  margin-left: 1em;

  a {
    display: block;

    @include bp(break-top-nav) {
      border-left: 1px solid $nav-border-color;
    }

    padding: 1.2em 1em .7em;

    svg {
      fill: $nav-main-color;
    }

    &:hover {
      background: $nav-hover-bg;
      border-color: $nav-hover-border;
    }
  }
}

.search-form {
  position: absolute;
  background: #222;
  right: 0;
  padding: 1.2em;
  border-top: 1px solid $nav-border-color;
  z-index: $z-search-form;

  transition: 100ms 0 all ease;
  display: block;
  opacity: 1;

  &.ng-enter,
  &.ng-leave {
    opacity: 0;
  }

  input {
    border: 0;
    padding: .5em;
    width: 19.5em;
  }
}

.top-nav-margin {
  @include bp(break-top-nav) {
    margin-top: 3.5rem;
    border: 1px solid transparent; // I have no idea why this is necessary, but otherwise the margin is 1em off.
  }
}
