// Colors
$primary-color: #008cba;
$secondary-color: #e7e7e7;
$secondary-light-color: #f9f9f9;
$body-bg: #fff;
$body-font-color: #222;

$nav-color: #ccc;
$nav-main-color: #fff;
$nav-border-color: rgba(255, 255, 255, .5);
$nav-hover-bg: rgba(255, 255, 255, .1);
$nav-hover-border: rgba(255, 255, 255, .7);

$timetable-link: rgba(255, 255, 255, .8);
$multiple-lessons-bg: rgba(0, 0, 0, .8);
$time-line-bg: rgba(255, 0, 0, .5);

$dialog-overlay-bg: rgba(0, 0, 0, .4);
$dialog-close-color: $body-font-color;

// Fonts
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

$heading-font-family: "Montserrat", sans-serif;

$global-radius: 3px;

// Breaks
$break-timetable: 50em;

// Custom mixins

@mixin bp($point) {
  // Breakpoint mixin
  // Design mobile-first!
  @if $point == break-timetable {
    @media (min-width: 50em) { @content; }
  }
  @if $point == break-top-nav {
    @media (min-width: 38.8em) { @content; }
  }
  @if $point == very-small {
    @media (max-width: 21.875em) { @content; }
  }
  @if $point == break-free-rooms-table {
    @media (max-width: 35.625em) { @content; }
  }
}

// Fonts
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular.woff') format('woff'),
       url('../fonts/montserrat-regular.ttf') format('truetype'),
       url('../fonts/montserrat-regular.svg#montserrat-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Border-box
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Angular stuff
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

