.timetable {
  display: flex;
  flex-flow: row wrap;

  .day {
    width: 100%;

    @media screen and (min-width: $break-timetable) {
      width: (100% / 5); // 5 days
    }
  }
}

.hours {
  position: relative;
  height: 75em;
}

.hour {
  position: relative;
  height: calc(100%/15.3); // 14 lessons of 50 minutes + 65 minutes break (= 1.3 hour)
  border-bottom: 1px solid $secondary-color;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, .7); // Temporary

  // Hour is a container for the lessons
  display: flex;
  flex-flow: row wrap;

  &:last-child {
    border-bottom: 0;
  }

  .hour-number {
    position: absolute;
    top: 1em;
    right: 1em;
    color: $secondary-color;
  }

  a {
    color: $secondary-color;

    &:hover {
      color: lighten($secondary-color, 10%);
    }
  }

  &.break-10 {
    // TODO: Simplify calculation
    height: calc((100%/15.3) + (100%/76.5));
  }

  &.break-15 {
    height: calc((100%/15.3) + (100%/51));
  }

  &.break-20 {
    height: calc((100%/15.3) + (100%/38.25));
  }
}

.lesson {
  width: 100%;
  height: 100%;

  // WIP
  @media screen and (max-width: $break-timetable) {
    width: 50%;
    flex-grow: 1; // Fill available space
  }


  // TODO: Fix multiple lessons view
  display: none;

  &.lesson-1 {
    display: flex;
  }

  .lesson-text {
    position: relative;
    z-index: 10;
  }
}

.line {
  width: 100%;
  height: 1px;
  background: rgba(255, 0, 0, .5);
  position: absolute;
  top: 0;
  z-index: 4;
}
