@charset "UTF-8";

@import "normalize";
@import "settings";
@import "search";
@import "dialog";

@import "foundation/components/grid";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
@import "foundation/components/forms";
@import "foundation/components/panels";
@import "foundation/components/type";
@import "foundation/components/reveal";
@import "foundation/components/tables";
@import "foundation/components/alert-boxes";
@import "foundation/components/visibility";

ng-view {
  opacity: 1;
  transition: all linear .5s;

  &.ng-hide {
    opacity: 0;
  }
}

.day {
  height: 81.25em;
  position: relative;
}

.hour {
  position: relative;
  height: calc(100%/15.3);
  border-bottom: 1px solid $secondary-color;

  &:last-child {
    border-bottom: 0;
  }

  .hour-number {
    position: absolute;
    top: 1em;
    right: 1em;
    color: $secondary-color;
  }

  a {
    color: $secondary-color;

    &:hover {
      color: lighten($secondary-color, 10%);
    }
  }

  &.break-10 {
    height: calc((100%/15.3) + (100%/76.5));
  }

  &.break-15 {
    height: calc((100%/15.3) + (100%/51));
  }

  &.break-20 {
    height: calc((100%/15.3) + (100%/38.25));
  }
}

.lesson {
  height: 100%;

  .lesson-text {
    position: relative;
    z-index: 5;
  }
}

.line {
  width: calc(100% - 1.9em);
  height: 1px;
  background: rgba(255, 0, 0, .5);
  position: absolute;
  top: 0;
  z-index: 4;
}

.old-week {
  color: #ccc!important;
}

.room-occupied {
  background: $primary-color;
  color: $secondary-color;
}

span.room-occupied {
  width: .63em;
  height: .63em;
  display: inline-block;
}

span.room-free {
  border: 1px solid darken($secondary-color, 10%);
  width: .63em;
  height: .63em;
  display: inline-block;
}
