@charset "UTF-8";

@import "normalize";
@import "settings";
@import "search";

@import "foundation/components/grid";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
@import "foundation/components/forms";
@import "foundation/components/panels";
@import "foundation/components/type";
@import "foundation/components/reveal";
@import "foundation/components/tables";
@import "foundation/components/alert-boxes";
@import "foundation/components/visibility";

ng-view {
  opacity: 1;
  transition: all linear .5s;

  &.ng-hide {
    opacity: 0;
  }
}
