@charset "UTF-8";

@import "../bower_components/normalize.scss/_normalize.scss";
@import "base";
@import "search";
@import "typography";

@import "timetable";

// Dialogs
@import "dialog";
@import "dialog-room";

body {
  background: $body-bg;
  color: $body-font-color;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
}

ng-view {
  opacity: 1;
  transition: all linear .5s;

  &.ng-hide {
    opacity: 0;
  }
}

.old-week {
  color: #ccc!important;
}

.room-occupied {
  background: $primary-color;
  color: $secondary-color;
}

span.room-occupied {
  width: .63em;
  height: .63em;
  display: inline-block;
  border: 1px solid transparent;
}

span.room-free {
  border: 1px solid darken($secondary-color, 10%);
  width: .63em;
  height: .63em;
  display: inline-block;
}
