.old-week {
  visibility: hidden;
}

.week-nav {
  @include bp(break-top-nav) {
    margin-top: 2.3em;
  }
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  background: $light-color;
  padding: 1em 0;
}

.week-previous,
.week-next {

  &:hover {
    fill: $primary-color;
  }
}

.week-current {
  color: $body-font-color;
}
