<div class="teacher-wrapper">
  <div class="teacher-info">
    <p>
      <strong translate>FULL_NAME</strong> {{::ngDialogData.displayName}}<br>
      <strong translate>MAIL</strong> <a ng-href="mailto:{{::ngDialogData.mail}}">{{::ngDialogData.mail}}</a><br>
      <strong translate>TEL</strong> <a ng-href="tel:{{::ngDialogData.telephoneNumber}}">{{::ngDialogData.telephoneNumber}}</a>
    </p>
    <p>
      <strong translate>TITLE</strong> {{::ngDialogData.title}}<br>
      <strong translate>OFFICE</strong> {{::ngDialogData.office}}
    </p>
    <p>
      <a ng-href="search/teacher/{{::encode(ngDialogData.personalTitle)}}" ng-click="closeThisDialog(0)" class="button" translate>SHOW_TIMETABLE</a>
    </p>
  </div>
  <div class="teacher-avatar">
    <img ng-src="https://apps.fhict.nl/api/Picture/{{::ngDialogData.cn}}/big" alt="">
  </div>

</div>
