<div class="top-nav-margin box">
  <div class="rooms-heading">
    <div class="left">
      <h1 translate>FREE_ROOMS</h1>
    </div>
    <div class="right">
      <p>
        <span class="room-occupied"></span> = {{::'OCCUPIED' | translate}}<br>
        <span class="room-free"></span> = {{::'FREE' | translate}}
      </p>
    </div>
  </div>

  <div ng-if="!rooms">
    <p translate>
      NOT_OPENED
    </p>
  </div>
  <div ng-if="rooms">
    <table class="rooms-table">
      <thead>
        <tr>
          <th translate>ROOM</th>
          <th ng-repeat-start="hour in ::hours" ng-repeat-end>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="room in ::rooms">
          <td class="room-name"><a href="search/room/{{::encode(room.name)}}" ng-click="::closeThisDialog(0)">{{::room.name}}</a></td>
          <td ng-repeat-start="hour in ::hours" ng-repeat-end ng-class="::{'room-occupied': room.hours[$index]}">{{::hour.number}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
