<div class="top-nav-margin box">
  <h1 translate>HOLIDAYS</h1>
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th translate>START</th>
        <th translate>END</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="holiday in ::holidays">
        <td>{{::holiday.days}} {{::'DAYSUNTIL' | translate}}</td>
        <td>{{::holiday.name | translate}}</td>
        <td>{{::holiday.start}}</td>
        <td>{{::holiday.end}}</td>
      </tr>
    </tbody>
  </table>
</div>
