<h2 ng-show="tableName" class="text-center">{{tableName}}<br><small>week {{weekNumber().use}}</small></h2>

<ul>
  <li><a ng-click="previousWeek()">Vorig &laquo;</a></li>
  <li><a ng-click="currentWeek()">Huidig</a></li>
  <li><a ng-click="nextWeek()">Volgend &raquo;</a></li>
</ul>

<div class="row">
  <div class="small-12 medium-3 columns" ng-repeat="day in days">
    <h3>{{day.spelled}}</h3>

    <div class="uur" ng-repeat="hour in hours">
    {{hour.number}}<br>
      <div ng-repeat="lesson in getHour(day.number, hour.number) track by lesson.uid">
        {{lesson.subject}} - {{lesson.teacherAbbreviation}}<br>
        <small>{{lesson.room}}</small>
      </div>
      <hr>
    </div>
  </div>
</div>
