<h2 ng-show="tableTitle" class="text-center">{{tableTitle}}<br><small>week {{weekNumberUsed}}</small></h2>

<ul>
  <li><a ng-click="previousWeek()" ng-class="{'old-week': isOldWeek()}">{{::'PREVIOUS_WEEK' | translate}} &laquo;</a></li>
  <li><a ng-click="currentWeek()">{{::'CURRENT_WEEK' | translate}}</a></li>
  <li><a ng-click="nextWeek()">{{::'NEXT_WEEK' | translate}} &raquo;</a></li>
</ul>

<div class="search">
  <angucomplete-alt id="search-query"
    placeholder="{{::'SEARCH_PLACEHOLDER' | translate}}"
    pause="100"
    selected-object="searchSelected"
    local-data="searchAuto"
    search-fields="name"
    description-field="description"
    title-field="name"
    minlength="2"
    auto-match="true"
    text-searching="{{::'SEARCH_BUSY' | translate}}"
    text-no-results="{{::'SEARCH_NO_RESULTS' | translate}}"
    input-class="" />
</div>

<div class="timetable">
  <div class="day" ng-repeat="day in weeks[(weekNumberUsed - 1)]" ng-class="{'activeDay': isActiveDay($index+1)}">
    <h3>
      {{::'DAY_' + ($index+1) | translate}}<br>
      <small>{{currentDayDate($index+1).format('D-M')}} <strong>{{countLessons(day)}} {{::'LESSONS' | translate}}</strong></small>
    </h3>
    <div class="hours">
      <div class="line" style="top:{{calculateLine()}}" ng-if="isActiveDay($index+1)"></div>
      <div ng-repeat="hour in day" class="hour break-{{::hourBreaks[hour.number]}}">
        <div class="hour-number">{{::hour.number}}</div>

        <div class="lesson" ng-if="::hour.lessons.length > 0" ng-init="::lesson = hour.lessons[0]" ng-style="::{ background: lesson.color }">
          <div class="lesson-text">
            {{::lesson.start}} - {{::lesson.end}}<br>
            {{::lesson.subject}}

            <span ng-if="::lesson.teacher !== '-'">
              - <a ng-click="teacherDialog(lesson.teacher)">{{::lesson.teacher}}</a>
            </span><br>

            <small>
              <a href="search/room/{{::encode(lesson.room)}}">{{::lesson.room}}</a> - </a>

              <span ng-repeat="class in lesson.classes">
                <a href="search/class/{{::encode(class)}}">{{::class}}</a>{{ (!$last) ? ',' : ''}}
              </span>
            </small>

            <div class="multiple-hours" ng-if="hour.lessons.length > 1">
              <a href="#" class="multiple-hours-icon">+</a>

              <div class="hidden-lessons">
                <!-- TODO: If there is more than one lesson in this hour, display the extra lessons in a nice tooltip on hover -->
                <!-- <div ng-repeat="lesson in hour.lessons">
                  <div class="lesson-text">
                    {{::lesson.subject}}

                    <span ng-if="::lesson.teacher !== '-'">
                      - <a ng-click="teacherDialog(lesson.teacher)">{{::lesson.teacher}}</a>
                    </span><br>

                    <small>
                      <a href="search/room/{{::encode(lesson.room)}}">{{::lesson.room}}</a> - </a>

                      <span ng-repeat="class in lesson.classes">
                        <a href="search/class/{{::encode(class)}}">{{::class}}</a>{{ (!$last) ? ',' : ''}}
                      </span>
                    </small>
                  </div>
                </div> -->
              </div><!-- .hidden-lessons -->

            </div><!-- .multiple-hours -->
          </div><!-- .lesson-text -->
        </div><!-- .lesson -->

      </div><!-- .hour -->
    </div><!-- .hours -->
  </div><!-- .day -->
</div><!-- .timetable -->
