<!DOCTYPE html>
<html class="no-js" lang="nl" ng-app="pluffApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Pluff | Check je Fontys ICT Rooster!</title>

  <base href="/">

  <link rel="stylesheet" href="css/app.css">

  <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="img/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="img/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">

  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-TileImage" content="img/mstile-144x144.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <meta name="description" content="Pluff laat je op een snelle manier je Fontys rooster zien. Sla het op in je bladwijzers en kijk met 1 klik je rooster terug!">
  <meta property="og:title" content="Pluff - Check je Fontys rooster!">
  <meta property="og:image" content="img/logo.png">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Pluff laat je op een snelle manier je Fontys rooster zien. Sla het op in je bladwijzers en kijk met 1 klik je rooster terug!">

</head>
<body ng-controller="MainCtrl">

  <div class="top-nav" ng-controller="NavCtrl">
    <h1 class="logo"><a href="/">Pluff</a></h1>

    <ul class="nav-list">
      <li class="main"><a href="/" translate>TIMETABLE</a></li>
      <li><a ng-dialog="partials/dialog-holidays.html" ng-dialog-controller="HolidayCtrl"><span translate>HOLIDAYS</span></a></li>
      <li><a ng-dialog="partials/dialog-free-rooms.html" ng-dialog-controller="RoomCtrl"><span translate>FREE_ROOMS</span></a></li>
    </ul>
    <div class="nav-right">
      <h2 class="nav-timetable-name" ng-show="tableTitle">{{tableTitle}}</h2>
      <div class="nav-search">
        <a href="#" ng-click="showSearchFormFunc()">
          <svg version="1.1" width="20" height="20" viewBox="0 0 16 16"><path d="M15.56 15.56c-0.587 0.587-1.538 0.587-2.125 0l-2.652-2.652c-1.090 0.699-2.379 1.116-3.771 1.116-3.872 0-7.012-3.139-7.012-7.012s3.14-7.012 7.012-7.012c3.873 0 7.012 3.139 7.012 7.012 0 1.391-0.417 2.68-1.116 3.771l2.652 2.652c0.587 0.587 0.587 1.538 0 2.125zM7.012 2.003c-2.766 0-5.009 2.242-5.009 5.009s2.243 5.009 5.009 5.009c2.766 0 5.009-2.242 5.009-5.009s-2.242-5.009-5.009-5.009z"></path></svg>
        </a>

        <div class="search-form" ng-if="showSearchForm">
          <angucomplete-alt id="search-query"
            placeholder="{{::'SEARCH_PLACEHOLDER' | translate}}"
            pause="100"
            selected-object="searchSelected"
            local-data="searchAuto"
            search-fields="name,description"
            description-field="description"
            title-field="name"
            minlength="2"
            auto-match="true"
            text-searching="{{::'SEARCH_BUSY' | translate}}"
            text-no-results="{{::'SEARCH_NO_RESULTS' | translate}}"
            input-class=""
            focus-out="searchFormFocusOut()" />
        </div>
      </div>
    </div>
  </div>

  <ng-view></ng-view>

  <footer ng-cloak ng-if="showFooter">
    <p>
      <em>Pluff</em> 2.0.
      <span translate>HELP_US</span> <a href="https://github.com/SpaceK33z/FHICT-Rooster">Github</a>!
    </p>
  </footer>

  <!-- build:js js/plugins.min.js -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
  <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
  <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="bower_components/moment/locale/nl.js"></script>
  <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
  <!-- endbuild -->
  <!-- build:js js/bigapp.min.js -->
  <script src="js/app.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/config.js"></script>
  <!-- Services -->
  <script src="js/services/data.js"></script>
  <script src="js/services/day.js"></script>
  <script src="js/services/week.js"></script>
  <script src="js/services/lesson.js"></script>
  <script src="js/services/room.js"></script>
  <script src="js/services/color.js"></script>
  <script src="js/services/holiday.js"></script>
  <!-- Controllers -->
  <script src="js/controllers/main.js"></script>
  <script src="js/controllers/language.js"></script>
  <script src="js/controllers/navigation.js"></script>
  <script src="js/controllers/timetable.js"></script>
  <script src="js/controllers/holiday.js"></script>
  <script src="js/controllers/room.js"></script>
  <script src="js/controllers/color.js"></script>
  <script src="js/controllers/error.js"></script>
  <!-- endbuild -->
</body>
</html>
