<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="nl" ng-app="pluffApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Pluff | Check je Fontys ICT Rooster!</title>

  <base href="/">

  <link rel="stylesheet" href="css/app.css?9a4eaa">

  <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="img/favicon-196x196.png?b17708" sizes="196x196">
  <link rel="icon" type="image/png" href="img/favicon-160x160.png?7f3779" sizes="160x160">
  <link rel="icon" type="image/png" href="img/favicon-96x96.png?6b24d7" sizes="96x96">
  <link rel="icon" type="image/png" href="img/favicon-16x16.png?0aadfd" sizes="16x16">
  <link rel="icon" type="image/png" href="img/favicon-32x32.png?4696d7" sizes="32x32">

  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-TileImage" content="img/mstile-144x144.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <meta name="description" content="Pluff laat je op een snelle manier je Fontys rooster zien. Sla het op in je bladwijzers en kijk met 1 klik je rooster terug!">
  <meta property="og:title" content="Pluff - Check je Fontys rooster!">
  <meta property="og:image" content="img/logo.png">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Pluff laat je op een snelle manier je Fontys rooster zien. Sla het op in je bladwijzers en kijk met 1 klik je rooster terug!">

</head>
<body>

  <div class="row">
    <div class="small-15 columns">
      <h1>Pluff</h1>

        <ng-view></ng-view>
    </div>

    <p ng-controller="LanguageCtrl">
      <em>Pluff</em> 2.0.
      <span translate>CHOOSE_LANGUAGE</span>
      <a ng-click="switch('nl')">NL</a>
      <a ng-click="switch('en')">EN</a>.
      <span translate>HELP_US</span> <a href="https://github.com/SpaceK33z/FHICT-Rooster">Github</a>!
    </p>
  </div>

  <!-- build:js js/plugins.min.js -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
  <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
  <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="bower_components/moment/locale/nl.js"></script>
  <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
  <!-- endbuild -->
  <!-- build:js js/bigapp.min.js -->
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <!-- endbuild -->
</body>
</html>
