<!DOCTYPE html>
<html class="no-js" lang="nl" ng-app="pluffApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Pluff | Check je Fontys ICT Rooster!</title>

  <base href="/">

  <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="img/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="img/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">

  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-TileImage" content="img/mstile-144x144.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="Pluff">
  <meta name="theme-color" content="#1e1e1e">

  <meta name="description" content="Pluff laat je op een snelle manier je Fontys rooster zien. Sla het op in je bladwijzers en kijk met 1 klik je rooster terug!">
  <meta property="og:title" content="Pluff - Check je Fontys rooster!">
  <meta property="og:image" content="img/logo.png">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Pluff laat je op een snelle manier je Fontys rooster zien. Sla het op in je bladwijzers en kijk met 1 klik je rooster terug!">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body ng-controller="MainCtrl">

  <div class="top-nav" ng-controller="NavCtrl">
    <h1 class="logo"><a href="/">Pluff</a></h1>

    <ul class="nav-list">
      <li ng-class="{ main: isActive('/')}"><a ng-href="{{lastTimeTableUrl}}" translate>TIMETABLE</a></li>
      <li ng-class="{ main: isActive('/holidays')}"><a href="/holidays" translate>HOLIDAYS</a></li>
      <li ng-class="{ main: isActive('/free-rooms')}"><a href="/free-rooms" translate>FREE_ROOMS</a></li>
    </ul>
    <div class="nav-right">
      <h2 class="nav-timetable-name" ng-show="tableInfo">
        {{tableInfo.kind | uppercase | translate}}
        {{tableInfo.title}}
      </h2>
      <div class="nav-search">
        <a href="#" ng-click="showSearchFormFunc()">
          <svg version="1.1" width="20" height="20" viewBox="0 0 16 16"><path d="M15.56 15.56c-0.587 0.587-1.538 0.587-2.125 0l-2.652-2.652c-1.090 0.699-2.379 1.116-3.771 1.116-3.872 0-7.012-3.139-7.012-7.012s3.14-7.012 7.012-7.012c3.873 0 7.012 3.139 7.012 7.012 0 1.391-0.417 2.68-1.116 3.771l2.652 2.652c0.587 0.587 0.587 1.538 0 2.125zM7.012 2.003c-2.766 0-5.009 2.242-5.009 5.009s2.243 5.009 5.009 5.009c2.766 0 5.009-2.242 5.009-5.009s-2.242-5.009-5.009-5.009z"></path></svg>
        </a>

        <div class="search-form" ng-if="showSearchForm">
          <angucomplete-alt id="search-query"
            placeholder="{{::'SEARCH_PLACEHOLDER' | translate}}"
            pause="300"
            selected-object="searchSelected"
            remote-api-handler="searchApi"
            description-field="description"
            title-field="name"
            minlength="2"
            focus-first="true"
            text-searching="{{::'SEARCH_BUSY' | translate}}"
            text-no-results="{{::'SEARCH_NO_RESULTS' | translate}}"
            input-class=""
            focus-out="searchFormFocusOut()" />
        </div>
      </div>
    </div>
  </div>

  <ng-view id="top"></ng-view>

  <footer ng-cloak ng-if="showFooter">
    <div class="container">
      <p>
        <em>Pluff</em> 2.0.
        <span translate>HELP_US</span>
        <a href="https://github.com/SpaceK33z/Pluff" class="button small" target="_blank">Github</a>
        <a ng-click="faqDialog()" class="button small">{{::'FAQ_SHORT' | translate}}</a>
        <a href="https://api.fhict.nl/" class="button small" target="_blank">FHICT API Documentation</a>
      </p>
    </div>
  </footer>
  <!-- Built from commit: <%-htmlWebpackPlugin.options.commitHash%> -->
</body>
</html>
