.angucomplete-holder {
  position: relative;
}

.angucomplete-dropdown {
  border: 1px solid $secondary-color;
  border-radius: 2px;
  width: 250px;
  padding: 6px;
  cursor: pointer;
  z-index: $z-search-dropdown;
  position: absolute;
  margin-top: -6px;
  background-color: $light-color;
}

.angucomplete-searching {
  color: $body-font-color;
  font-size: 1em;
}

.angucomplete-description {
  font-size: .88em;
}

.angucomplete-row {
  padding: .31em;
  color: $body-font-color;
  margin-bottom: .25em;
  clear: both;
}

.angucomplete-selected-row {
  background-color: $body-font-color;
  color: #fff;
}
