<div class="top-nav-margin box">
  <h1 translate>TIMETABLE_NOT_FOUND</h1>
  <p translate>TIMETABLE_NOT_FOUND_LONG</p>
  <p translate>TIMETABLE_TEMP_EXPLANATION</p>

  <div class="autocomplete-listing">
    <div>
      <h2 translate>TEACHERS</h2>
      <ul class="autocomplete-list">
        <li ng-repeat="teacher in autocompleteList | filter:{'kind':'Teacher'} ">
          <a href="/search/teacher/{{::teacher.name}}#top" title="{{::teacher.description}}">{{::teacher.name}}</a>
        </li>
      </ul>
    </div>

    <div>
      <h2 translate>CLASSES</h2>
      <ul class="autocomplete-list">
      <li ng-repeat="class in autocompleteList | filter:{'kind':'Class'} ">
          <a href="/search/class/{{::class.name}}#top">{{::class.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
