[aria-label] {
  position: relative;

  &:before, &:after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    pointer-events: none;
    top: 122%;
    z-index: $z-tooltip;
  }

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 5px $tooltip-bg;
    margin-top: -5px;
  }

  &:after {
    content: attr(aria-label);
    padding: 2px 10px;
    background: $tooltip-bg;
    color: #fff;
    font-size: 12px;
    line-height: 1.7;
    white-space: nowrap;
    border-radius: 2px;
  }

  &:hover {
    &:before, &:after {
      display: block;
    }
  }
}
